.back-image {
  background-image: url("./images/marcin-jozwiak-oh0DITWoHi4-unsplash 1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-down {
  animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
